{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row my-4">
    <div class="col-6">
        <img class="img-fluid" src="{% static 'about.png' %}">
    </div>
    <div class="col-6 mt-5">
        <p class="text-black-50"> Welcome to our online shop</p>
        <p class="fs-1 fw-bold">For MyPetShop</p>
        <p>At My Pet Shop, we believe that pets are not just animals; they're cherished members of our<br/>
            families, bringing joy, comfort, and companionship into our lives. Our online store is a haven<br/>
            for all pet lovers, offering a wide range of carefully selected products that cater to the needs <br/>
            and happiness of your beloved furry, feathered, and scaled friends.</p>
        <p>
            Founded by passionate pet enthusiasts, My Pet Shop is driven by the love and care we have<br/>
            for animals. Our mission is to provide pet owners with a convenient and reliable platform to<br/>
            find high-quality products that enhance the well-being of their pets. From premium pet food <br/>
            and treats to stylish accessories, cozy bedding, and engaging toys, we've curated a collection <br/>
            that's as diverse as the pets themselves.</p>

        <p>
            Thank you for choosing My Pet Shop as your go-to online destination for all things pet-related.<br/>
            Together, let's create a world where every wag of a tail and every purr of contentment is a <br/>
            testament to the wonderful companionship we share with our pets.<br/>

            <br/>Your pets deserve the best, and so do you. Discover the difference at My Pet Shop today!</p>
    </div>
</div>
{% endblock %}