{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-6  ms-5 ps-5  my-5">
        <div class="ms-5 ps-5">
            <h1>Write Us</h1>

            <form action="submit_form.php" method="POST">
                <label for="name">Name:</label><br>
                <input type="text" class="rounded-5" id="name" name="name" required><br><br>

                <label for="email">Email:</label><br>
                <input type="email" id="email" class="rounded-5" name="email" required><br><br>

                <label for="email">Title:</label><br>
                <input type="email" id="title" class="rounded-5" name="email" required><br><br>

                <label for="message">Message:</label><br>
                <textarea id="message" name="message" class="rounded-5" rows="4" cols="50" required></textarea><br><br>

                <input type="submit" class="btn rounded-4 border-3" value="Submit"
                       style="background-color: rgba(0, 0, 0, 0.2);">
            </form>

        </div>
    </div>
    <div class="col-4 my-5">
        <h1 class="mb-3">Contact Us</h1>
        <p><strong>Address:</strong> Dame Gruev 4/5, Skopje, Macedonia</p>
        <p><strong>Phone:</strong> +389 70 354 184</p>
        <p><strong>Email:</strong> mypetshop@gmail.com</p>
    </div>
</div>
{% endblock %}