{% extends 'base.html' %}
{% block content %}
<div>
    <h1 class="text-center mt-3" style="font-family:TimeNewRoman;">Dog Collar And Leash</h1>
    {% if user.is_authenticated and user.is_superuser %}
    <a href="{% url 'addDogCollar' %}" class=" text-center btn btn-dark rounded-5 btn-block ms-5 px-4 py-2">Add Product</a>
    {% endif %}

    <div class="d-flex inline-block">
        <div class="row">
            {% for collar in collars %}
            <div class="col-md-4 mb-4">
                <div class="card my-5 ms-3" style="width: 18rem;">
                    <img src="{{ MEDIA_URL }}{{ collar.image.url }}" class="card-img-top" alt="Dog Food">
                    <div class="card-body">
                        <h5 class="card-title">{{ collar.title }}</h5>
                        <p class="card-text">{{ collar.price }} ден.</p>
                        <a href="#" class="btn btn-secondary rounded-5 py-2">See more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}